
canvas {
  background-color: black;
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-container {
  display: block;
  //position: absolute;
  width:100px;
  /*top:50%;
  left:50%;
  margin-left:-150px;
  margin-top: -150px;*/
  //opacity: 0;
  transform: scale(2.2) translate3d(0,50%,0);
  transition : 0.45s all ease-out;
}

.logo-container.finished {
  opacity: 1;
  transform: scale(1) translateY(0);
}

/*.logo-container.finished {
  width:80px;
  height:11%;
  top:20%;
  left:50%;
  margin-left:-40px;
  margin-top: 0px;

  transition-property: top, width, height, margin-left, margin-top;
  transition-duration: 0.7s;
}*/

#logosvg {
  //width: 100%;
  display: block;
}

#logosvg.done {
  /*width:70%;
  transition-property: width;
  transition-duration: 0.7s;*/
}

.text-container {
  width: 720px;
  max-width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: block;
  opacity: 0;
  transform: translate3d(0,100%,0);
  transition : 0.5s all ease-out;
  /*position: absolute;
  left: 20%;
  right: 20%;

	@media (max-width: $tablet-breakpoint) {
    left: 10%;
    right: 10%;
	}

  top: 40%;*/
  //opacity: 0;
}

.text-container.enabled {
  opacity: 1;
  transform: scale(1) translateY(0);
  filter: blur(0);
}

/*.text-container.enabled {
  top: 30%;
  opacity: 1;
  transition-property: top, opacity;
  transition-duration: 1s;
  /*transition-timing-function: ease-in;
}*/

.text-container h1 {
  display: block;
  font-size: 2.5em;
  font-family: 'groteskmedium', 'Lato', sans-serif;
  letter-spacing: 8px;
  padding-top: 0.67em;
  padding-bottom: 0.3em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.text-container h2 {
  font-size: 1.3em;
  padding-top: 0.2em;
  padding-bottom: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.text-container p {
  font-size: 0.8em;
  line-height: 2;
  padding-bottom: 0.5em;
  display: block;
}

.title {
  font-family: Gotham-Medium;
}

.subtitle {
  letter-spacing: 0.1em;
}

.desc {
  margin-left: 10%;
  margin-right: 10%;
}

.text-container .button {
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid white;

  border: 1px solid white;
  transition-duration: .3s;
}
.text-container .button:hover {
  background: white;
  color: black;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .text-container h1 {
    font-size: 1.5em;
    letter-spacing: 3px;
  }

  .text-container h2 {
    font-size: 0.9em;
  }
}
