//Colors

$green : #0f878b;
$blue : #84b9cd;
$purple : #772a5c;
$yellow : #f8c986;
$red : #d35966;
$brown : #4b4b4b;

//Typography

$typo-content : Lato, Arial, Helvetica, sans-serif;
$typo-heading : "Gotham Medium", $typo-content;

//Layout

$main-nav-padding : 5vh;

//Responsive

$desktop-breakpoint: 1190px;

$tablet-breakpoint: 992px;

$mobile-breakpoint : 480px;
